@media (max-width: 600px) {
    .container {
          flex-direction: column;
    }
    
    article, .vertical-menu {
      width: 100%;
      height: auto;
    }
    
    aside {  
      flex-basis: auto;
      margin-top: 20px;
   }
  }
  