@media (max-width: 700px) {
    .container {
          flex-direction: column;
    }
    
    article, .vertical-menu {
      width: 100%;
      height: auto;
      flex-direction: column;
    }

    h2{
      flex-direction: column;
    }
    
    aside {  
      flex-basis: auto;
      margin-top: 20px;
      text-align: center;
   }

   .gif-vertical{
    margin-left: 91%;
    margin-top: -121%;
  }
  
video{
  width: 45%;
}

   @keyframes animacao {
    
    0%{
        transform: translate(0px,0px) rotateY(0deg) ;
    }
    25%{
         transform: translate(47vw,0px) rotateY(0deg); 
        
    }
    50%{
         transform: translate(40vw,0px) rotateY(180deg);  
    } 
    75%{
        transform: translate(0px,0px) rotateY(180deg);
    }
    100%{
        transform: translate(0px,0px) rotateY(0deg);
    } 


  }

  @media (max-width: 1900px) {
    video{
      display: flex;
      width: auto;
     }
    
    .gif-vertical{
      margin-left: 96%;
      margin-top: -121%;
    }
}

}