@media screen and (max-width:760px) {
    body {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    .profile {
        align-self: center;
        text-align: center;
    }

    h1 {
        align-self: center;
    }

    h2 {
        font-size: 38px;
        text-align: center;
    }

    p {
        text-align: center;
        align-self: center;
    }

    img{
        display: none;
        margin-top: auto;
    }

    .info{
        align-self: center;
        text-align: center;
    }

    .icones{
        align-self: center;
        text-align: center;
    }
}